<!-- views/show.erb -->
<h1>Guess a letter</h1>

<p><strong>Word:</strong> <span class="word"><%= @word_with_guesses %></span></p>
<p><strong>Wrong guesses:</strong> <span class="guesses"><%= @wrong_guesses %></span></p>

<% if flash[:message] %>
  <p class="flash"><%= flash[:message] %></p>
<% end %>

<form action="/guess" method="post">
  <input type="text" name="guess" maxlength="1" autocomplete="off">
  <button type="submit">Guess!</button>
</form>

<form action="/create" method="post" style="margin-top:1rem">
  <input type="submit" value="New Game">
</form>
